div.exact-middle.darkened
    div#cookiebanner
        p This site requires cookies. Please accept if you want it to work properly
        div  
            button(id="cookie-accept-button" class="interact") Accept
            button(id="cookie-reject-button" class="interact") Reject
script(type="module")
    include ./src/cookieconsent.js 
