extends layout.pug

block content
    div.exact-middle
        p Could not create username. It was someone else's or you picked the same one again. Try something 
            a(href='/login') else...

